/* -------css-demo------- */

/* -----Color Scheme----- 
Main Color (Main) - #F5F5F5
Secondary Color (Contrast) - #FB2442
Tertiary Color (Links) - #62A870*/
/*  ---------------Box Sizing-----------------  */
imj
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* - - - - - Responsive Images - - - - - */
  img{
    max-width:100%;
    gap:1.7rem;
  }

  #blog article.post{
   box-shadow: 0 4px 8px rgba(0,0,0,.6);
   max-width:80%;
   padding:10px;
   border-radius: 4px;
   font-size:0.7rem;
   transition:220ms;
  }
  
  #blog article.post:hover{
    box-shadow: 0 6px 10px rgba(0,0,0,.75);
  }

  #blog figure{
    margin:0;
  }

  #blog figcaption{
    text-transform:uppercase;
    font-size: 0.7rem;
    text-align:center;
    color: #62A870;
  }

  #blog .post a{
    color: #FB2442
  }
  /* - - - - - Utility Classes - - - - - */

  .container{
    margin:auto;
    width:800px;
    max-width:960;
    padding:10px 0 10px 0;
  }

  /* - - - - - Global Styles - - - - -*/

body{
  background-color: #dfdfdf;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23f5f5f5' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    font-family: "Raleway", sans-serif;
    margin:0;
    
}

main{
color:ffffff
}

header.primary{
    background-color: #da2830;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23fb2442' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #ffffff;
    text-align: center;
    text-shadow:1px 1px 1px #000000;
    padding: 15px 40px 15px 40px;
    /*T,R,B,L*/
    /*Two values Top/Bottom / L/R if two padding inputs*/
    /*One values apply TRBL*/
    box-shadow: 0 6px 10px rgba(0,0,0,.75);
}

header.primary h1{
  font: size 2.4rem;
  margin: 12px 0 0;
}

header.primary a{
  color:#62A870;
}
header.primary h1 a{
  color: #F5F5F5;
  text-decoration:none;
}

header.primary h2{
  font-size:1.2rem;
  margin:7px;
}

header.primary nav{
  max-width:960px;
  margin:auto;
}
header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content:center;
  justify-content:space-around;
  padding:17px 0;
}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul li a{
  color:#f5f5f5;
  text-decoration:none;
  border:1px outset #f5f5f5;
  padding:6px 10px;
  background-color: rgba(162, 0, 0, 0.17);
  border-radius:9px;
  transition:220ms;
}

header.primary nav ul li a:hover{
  background-color: rgba(162, 0, 0, 0.64);
}

#content{
  line-height:1.5;
}

#content h2{
  color:#FB2442;
  border-bottom: 1px groove #FB2442;
}

#blog{
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  margin-bottom: 40px;
  border-top:1px solid #cccccc;
  padding: 40px 0 0 0;
}


aside[role="complementary"]{
  background-color: #629650;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%2362a870' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  color:#F5F5F5;
  padding:15px 40px 15px 40px;
  box-shadow: 0 6px 10px rgba(0,0,0,.75);
}

#blog .post a {
  color: #FB2442;
}

#practice h2{
  color: #629650;
  border-bottom:1px dotted #cccccc;
}

#practice a {
  color: #FB2442;
}

#practice a:hover{
  text-decoration:none;
}

#practice h3{
  border-left: 5px solid #FB2442;
  padding: 5px 0 5px 10px;
  border-radius:3px;
}

table{
  width:100%;
  border: 1px solid #62A870;
  border-collapse:collapse;
}

caption{
  font-weight: bold;
  margin: 10px;
  font-size:1.7rem;
}


tr:nth-child(even){
  background-color: rgba(0,0,0,0.1);
}

tr:hover{
  background-color: rgba(0,0,0,0.3)
}

th{
  background-color:#62A870;
  color:#F5F5F5;
  padding: 7.5px;
}
td{
  border: 1px solid #62A870;
  padding: 5px;
}

td:nth-child(n+2){
  text-align:right;
}

.img-right{
  float:right;
  border:1px solid #cccccc;
  padding:5px 5px 30px 5px;
  margin:10px 0px 10px 20px;
}

.img-left{
  float:left;
  border:1px solid #cccccc;
  padding:5px 5px 30px 5px;
  margin:10px 10px 10px 20px;
}

.img-center{
  display:block;
  margin:auto;
  border:1px solid #cccccc;
  padding:5px 5px 30px 5px;
  margin:20px auto;
}

#practice ol{
  list-style-type:lower-roman;
}

#practice ul ul{
  list-style-type:square;
}

#practice dl dt{
  font-weight:bold;
}

#practice dl dd{
  margin:0;
}

#practice dd + dt{
  margin-top:20px;
}

#practice blockquote {
  border: 4px double #FB2442;
  padding: 20px 40px;
  margin: 30px 0;
  border-radius: 30px 0;
  background-color: #62A870;
  color:#F5F5F5;
  line-height: 1.4;
  text-shadow: 1px 1px #000;
  font-weight: bold;
}

section#blog.container{
  /*for whatever reason, changing this tag from #blog to section#blog.container actually made everything work as intended.*/
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  gap:40px;
}

aside article.widget a:last-of-type{
  color: #f5f5f5;
  display:block;
  margin-top:20px;
  text-align: right;
}

aside article.widget footer{
  display:none;
}

#colophon{
  background-color: #da2830;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23fb2442' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding:1px;
  color:#F5F5F5;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 6px 6px 6px 6px rgba(0,0,0,.75);
}



/* - - - - - MEDIA QUERIES - - - - - */

@media screen and (max-width:62rem){
/*In reality, modern screens are far wider than they used to be. The IPhone 14 Pro Max is nearly 1000 pixels in width, nowhere near the recommended 560, and most modern mobile devices average above 700. My S24U, in QHD, is considered to be 1440 pixels in width.*/
  
  body{
    zoom:1.15;
  }

  header.primary nav ul{
    flex-direction:column;
    gap:30px;
    max-width:550px;
    font-size:1.8rem;
    margin:auto;
  }

  header.primary nav a{
    display:block;
  }

  .container{
    justify-content:center;
    max-width:790px;
  }

  section#blog.container{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    max-width: 715px;
    text-align:center;
  }

  #blog img{
    display:block;
    margin: 0 auto;
    text-align:center;
  }

  aside .container{
    flex-direction:column;
    justify-content:center;
    max-width: 790px;
  }
  

}